body {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

header {
    display: flex;
}

.card {
    display: inline-block;
    padding: 2px;
}

.counter {
    width: 20%;
    display: inline-block;
}

.counter-left {
    float: left;
}

.counter-right {
    float: right;
}

.cardBox {
    width: 100%;
    height: 40vh;
    border-top: black solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}