html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0.1em;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}


body {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    font-family: MS Gothic;
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 30px;
    font-weight: 800;
    margin: 0px;
}

header {
    width: 100%;
}

.icon {
    height: 30px;
    width: 30px;
    margin-left: 20px;
}

.topbar {
    width: inherit;
    display: flex;
    margin-top: 10px;
}

.score {
    width: inherit;
    display: flex;
    font-size: 20px;
    margin-top: 15px;
    border-top: black dotted 2px;
}

.info {
    margin-top: 10px;
    padding: 30px;
    border-top: black dotted 2px;
    display: none;
}

.halfwidth {
    width: 50%;
    display: flex;
    align-items: flex-end;
}

.justify-left {
    justify-content: left;
}

.justify-right {
    justify-content: right;
}

.justify-center {
    justify-content: center;
}

.empty {
    opacity: 0.2;
}

.counter {
    font-size: 40px; 
    display: block; 
    text-align: center;
}

.cardBox {
    height: 35vh;
    width: 100%;
    border-top: black dotted 2px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.handBox {
    max-height: 35vh;
    width: 100%;
    margin: auto;
    max-width: 720px;
    border-top: black dotted 2px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 50%);
    grid-row-gap: 10px;
    place-items: center;
}

.handCard {
    display: block;
    max-width: 100%;
    height: auto;
}

.card {
    display: inline-block;
    padding: 2px;
    border-radius: 5px;
    flex-basis: auto;
    max-width: 20vw;
    min-width: 5vw;
    flex-grow: 0;
    flex-shrink: 0;
}

.arrowBox {
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
}

.bigIcon {
    height: 50px;
    width: 50px;
}